*{

    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: white;
    font-size: 56px;
    text-shadow: 4px 4px black;
}
.titulo-blanco{
    text-align: center;
}

h2 {
    text-shadow: 2px 2px #154454;
    font-size: 40px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 40px;
}
.item-link, .botonesVideo {
    box-shadow: 2px 3px #154454;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    background-color: #F0F5E4;
    color: #154454;
    font-weight: 300;
    text-decoration: none;
}

.menu {
    display: flex;
    width: 300px;
    justify-content: space-around;
}

header {
    display: block;
}
.body-day{
    margin: 0px;
    background-color: #427E80;
    color: #F0F5E4;
}

.cont-padre {
    margin: 100px 0px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

.card {
    width: 350px;
    height: 400px;
    border: 5px solid #154454;
    background-color: #F0F5E4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.img-card {
    width: 100%;
}

.desc-card {
    width: 90%;
    text-align: center;
    height: 30px;
}

p{
    color: black;
}

.boton-ver {
    padding: 10px;
    border-radius: 10px;
    background-color: #427E80;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 2px 3px #154454;
    text-align: center;
    text-decoration: none;
    width: 40%;
    margin-bottom: 20px;
}

footer{
    background-color: #1d1d1d;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    color: white;
}

.footer-left {
    display: flex;
    justify-content: space-between;
    width: 300px;
    height: 60px;
}

.titulo-foot {
    font-size: 14px;
}